.tooltip {
  display: flex;
  position: relative;
  color: var(--text-color);
  cursor: pointer;
  font-size: 2rem;
  width: fit-content;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
.tooltiptext {
  font-size: 1rem;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-weight: bold;
  text-align: center;
  border-radius: var(--border-radius);
  padding: 2px 0.5rem;
  position: absolute;
  z-index: 1;
}
