.error {
  color: red;
}
.form_control input[type='radio'] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  width: 1.15em;
  height: 1.15em;
  transform-origin: center;
}

.form_control input[type='radio']::before {
  transform-origin: center;
  content: '';
  width: 1.15em;
  height: 1.15em;
  border-radius: 100%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--primary-color);
  /* Windows High Contrast Mode */
  /* background-color: CanvasText; */
}

.form_control input[type='radio']:checked::before {
  transform: scale(0.5);
}

.form_control input[type='radio']:hover::before {
  transform: scale(0.55);
}
