.primary {
  /* background-color: var(--background-color); */
  /* border: 0; */
  /* border-radius: 0.2rem; */
  /* height: max-content; */
  /* padding: 0.25rem; */
  /* color: var(--font-color); */
  display: flex;
  flex-direction: column;
}
.multiline {
  /* background-color: var(--background-color); */
  /* border: 0; */
  /* border-radius: 0.2rem; */
  /* padding: 0.25rem; */
  /* color: var(--font-color); */
  display: flex;
  flex-direction: column;
  width: 100%;
}
.error {
  color: red;
}
